# Sparkify Project
#### Author: Pawel Wnuk Lipinski

The objective of the project is to forecast churn of popular music streaming platform users. The dataset provided contains detailed information on events of users behavoiur on the platform, including among others the page they are on, the music they listen (artist, song title), users location and timestamp. <br>
The project is based on a tiny subset (128MB) of the full dataset available (12GB), due to workspace capabilities constraints. <br>
The Notebook is split into the following parts:
1. Import libraries, create Spark session
2. Load and Clean Dataset
3. Exploratory Data Analysis
4. Feature Engineering
5. Modeling
6. Summary

## 1. Import libraries, create Spark session

In [1]:
# import pyspark libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.functions import countDistinct
from pyspark.sql.functions import to_date
from pyspark.sql.functions import datediff
from pyspark.sql.functions import sum, avg, max, count
from pyspark.sql.functions import when
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import VectorAssembler

# Import Python libraries
import datetime
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [2]:
# create a Spark session
spark = SparkSession \
    .builder \
    .appName("Sparkify Project") \
    .getOrCreate()

## 2. Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. 
The dataset is loaded and cleaned. It is also checked for invalid or missing data for example, records without userids or sessionids.

In [3]:
# Reading the JSON file
path = "mini_sparkify_event_data.json"
df_raw = spark.read.json(path)

In [4]:
# Looking at first 2 rows
df_raw.take(2)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30'),
 Row(artist='Five Iron Frenzy', auth='Logged In', firstName='Micah', gender='M', itemInSession=79, lastName='Long', length=236.09424, level='free', location='Boston-Cambridge-Newton, MA-NH', method='PUT', page='NextSong', registration=1538331630000, sessionId=8, song='Canada', status=200, ts=1538352180000, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', userId='9')]

In [5]:
# Checking column names and data types
df_raw.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [6]:
# We have 286,500 rows in total
df_raw.count()

286500

In [7]:
# Checking userId summary statistics
df_raw.describe('userId').show()

+-------+------------------+
|summary|            userId|
+-------+------------------+
|  count|            286500|
|   mean| 59682.02278593872|
| stddev|109091.94999910535|
|    min|                  |
|    max|                99|
+-------+------------------+

In [8]:
# Checking sessioinId summary statistics
df_raw.describe('sessionId').show()

+-------+-----------------+
|summary|        sessionId|
+-------+-----------------+
|  count|           286500|
|   mean|1041.526554973822|
| stddev|726.7762634630799|
|    min|                1|
|    max|             2474|
+-------+-----------------+

In [9]:
# There ar no missing values in userId or sessionId, but there might be empty strings
df = df_raw.dropna(how = "any", subset = ["userId", "sessionId"])
df.count()

286500

In [10]:
# Removing rows with empty userId, as userId is the main user identifier we will use in ML modelling
df = df.filter(df["userId"] != "")
df.count()

278154

## 3. Exploratory Data Analysis

### 3.1. Exploring the columns
Checking each column individually - what it represents, what type and range of values it has and if it might be useful for churn prediction.

In [11]:
# list all available columns
df.columns

['artist',
 'auth',
 'firstName',
 'gender',
 'itemInSession',
 'lastName',
 'length',
 'level',
 'location',
 'method',
 'page',
 'registration',
 'sessionId',
 'song',
 'status',
 'ts',
 'userAgent',
 'userId']

#### artist

In [12]:
df.groupBy('artist').count().sort(desc('count')).show()

+--------------------+-----+
|              artist|count|
+--------------------+-----+
|                null|50046|
|       Kings Of Leon| 1841|
|            Coldplay| 1813|
|Florence + The Ma...| 1236|
|       Dwight Yoakam| 1135|
|            BjÃÂ¶rk| 1133|
|      The Black Keys| 1125|
|                Muse| 1090|
|       Justin Bieber| 1044|
|        Jack Johnson| 1007|
|              Eminem|  953|
|           Radiohead|  884|
|     Alliance Ethnik|  876|
|               Train|  854|
|        Taylor Swift|  840|
|         OneRepublic|  828|
|         The Killers|  822|
|         Linkin Park|  787|
|         Evanescence|  781|
|            Harmonia|  729|
+--------------------+-----+
only showing top 20 rows

In [13]:
df.select("artist").dropDuplicates().count()

17656

The column has artists' names. More than 17k unique values

#### auth

In [14]:
df.groupBy('auth').count().sort(desc('count')).show()

+---------+------+
|     auth| count|
+---------+------+
|Logged In|278102|
|Cancelled|    52|
+---------+------+

In [15]:
df_auth_cancelled = df.filter(df["auth"] == "Cancelled")
df_auth_cancelled.select("page").dropDuplicates().collect()

[Row(page='Cancellation Confirmation')]

auth column has just two columns 'Logged In' and 'Cancelled'. Records with 'auth' == 'Cancelled' represent page "Cancellation Confirmation".

#### firstName

In [16]:
df.select("firstName").dropDuplicates().count()

189

In [17]:
df.groupBy('firstName').count().sort(desc('count')).show(10)

+---------+-----+
|firstName|count|
+---------+-----+
|   Payton| 9632|
|    Riley| 7970|
|   Lucero| 6880|
|   Emilia| 5732|
|     Emma| 5478|
|   Joseph| 5209|
|    Colin| 4989|
|   Nicole| 4825|
|   Joshua| 4654|
|  Brayden| 4621|
+---------+-----+
only showing top 10 rows

The name of the user should be irrelevant for the ML model

#### gender

In [18]:
df.groupBy('gender').count().sort(desc('count')).show()

+------+------+
|gender| count|
+------+------+
|     F|154578|
|     M|123576|
+------+------+

In [19]:
df.select("gender").describe().show()

+-------+------+
|summary|gender|
+-------+------+
|  count|278154|
|   mean|  null|
| stddev|  null|
|    min|     F|
|    max|     M|
+-------+------+

Gender is complete, with no Nulls. There are more females than males in the dataset. It can be a good feature column for ML model

#### itemInSession

In [20]:
df.groupBy('itemInSession').count().sort(desc('count')).show(10)

+-------------+-----+
|itemInSession|count|
+-------------+-----+
|            2| 2941|
|            3| 2917|
|            4| 2887|
|            5| 2836|
|            1| 2818|
|            6| 2803|
|            7| 2776|
|            8| 2735|
|            9| 2693|
|            0| 2689|
+-------------+-----+
only showing top 10 rows

The number of items in session is quite evenly distributed. This column can be potentially used as a feature

#### lastName

In [21]:
df.groupBy('lastName').count().sort(desc('count')).show(5)

+--------+-----+
|lastName|count|
+--------+-----+
|Campbell|14060|
|    Reed| 9284|
|Williams| 8410|
|  Taylor| 7230|
| Johnson| 6106|
+--------+-----+
only showing top 5 rows

In [22]:
df.select("lastName").dropDuplicates().count()

173

Not a good column for a feature in ML model

#### length

In [23]:
df.select("length").take(10)

[Row(length=277.89016),
 Row(length=236.09424),
 Row(length=282.8273),
 Row(length=262.71302),
 Row(length=223.60771),
 Row(length=208.29995),
 Row(length=260.46649),
 Row(length=185.44281),
 Row(length=None),
 Row(length=134.47791)]

In [24]:
df.describe('length').show()

+-------+------------------+
|summary|            length|
+-------+------------------+
|  count|            228108|
|   mean|249.11718197783375|
| stddev| 99.23517921058324|
|    min|           0.78322|
|    max|        3024.66567|
+-------+------------------+

In [25]:
# around 50k records are Nulls
df.filter(df['length'].isNull()).count()

50046

In [26]:
# Checking an example user
df.select(["userId", "length", "page", "sessionId"]).where(df.userId == "119").collect()

[Row(userId='119', length=None, page='Home', sessionId=437),
 Row(userId='119', length=147.04281, page='NextSong', sessionId=437),
 Row(userId='119', length=290.48118, page='NextSong', sessionId=437),
 Row(userId='119', length=294.84363, page='NextSong', sessionId=437),
 Row(userId='119', length=189.6224, page='NextSong', sessionId=437),
 Row(userId='119', length=288.57424, page='NextSong', sessionId=437),
 Row(userId='119', length=215.06567, page='NextSong', sessionId=437),
 Row(userId='119', length=264.93342, page='NextSong', sessionId=437),
 Row(userId='119', length=262.47791, page='NextSong', sessionId=437),
 Row(userId='119', length=None, page='Roll Advert', sessionId=437),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=425.01179, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Add to Playlist', sessionId=633),
 Row(userId='119', length=None, page='Upgrade', sessionId=633),
 Row(userId='119', length=518.81751, page='NextSong', sessionId=633),
 Row(userId='119', length=167.57506, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Roll Advert', sessionId=633),
 Row(userId='119', length=232.98567, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=266.47465, page='NextSong', sessionId=633),
 Row(userId='119', length=297.87383, page='NextSong', sessionId=633),
 Row(userId='119', length=189.98812, page='NextSong', sessionId=633),
 Row(userId='119', length=209.55383, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Add to Playlist', sessionId=633),
 Row(userId='119', length=201.56036, page='NextSong', sessionId=633),
 Row(userId='119', length=187.29751, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Roll Advert', sessionId=633),
 Row(userId='119', length=250.8273, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Error', sessionId=633),
 Row(userId='119', length=211.06893, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Upgrade', sessionId=633),
 Row(userId='119', length=207.17669, page='NextSong', sessionId=633),
 Row(userId='119', length=550.32118, page='NextSong', sessionId=633),
 Row(userId='119', length=182.88281, page='NextSong', sessionId=633),
 Row(userId='119', length=220.89098, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=633),
 Row(userId='119', length=196.12689, page='NextSong', sessionId=633),
 Row(userId='119', length=503.82322, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=245.15873, page='NextSong', sessionId=633),
 Row(userId='119', length=191.84281, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Add to Playlist', sessionId=633),
 Row(userId='119', length=198.29506, page='NextSong', sessionId=633),
 Row(userId='119', length=127.99955, page='NextSong', sessionId=633),
 Row(userId='119', length=212.32281, page='NextSong', sessionId=633),
 Row(userId='119', length=215.37914, page='NextSong', sessionId=633),
 Row(userId='119', length=358.26893, page='NextSong', sessionId=633),
 Row(userId='119', length=232.85506, page='NextSong', sessionId=633),
 Row(userId='119', length=322.61179, page='NextSong', sessionId=633),
 Row(userId='119', length=216.5024, page='NextSong', sessionId=633),
 Row(userId='119', length=226.0371, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Add to Playlist', sessionId=633),
 Row(userId='119', length=242.38975, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=633),
 Row(userId='119', length=191.55546, page='NextSong', sessionId=633),
 Row(userId='119', length=232.07138, page='NextSong', sessionId=633),
 Row(userId='119', length=249.20771, page='NextSong', sessionId=633),
 Row(userId='119', length=483.05587, page='NextSong', sessionId=633),
 Row(userId='119', length=356.33587, page='NextSong', sessionId=633),
 Row(userId='119', length=229.22404, page='NextSong', sessionId=633),
 Row(userId='119', length=203.25832, page='NextSong', sessionId=633),
 Row(userId='119', length=235.62404, page='NextSong', sessionId=633),
 Row(userId='119', length=253.43955, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Roll Advert', sessionId=633),
 Row(userId='119', length=327.52281, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=296.64608, page='NextSong', sessionId=633),
 Row(userId='119', length=262.66077, page='NextSong', sessionId=633),
 Row(userId='119', length=199.57506, page='NextSong', sessionId=633),
 Row(userId='119', length=236.2771, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=None, page='Add Friend', sessionId=633),
 Row(userId='119', length=307.51302, page='NextSong', sessionId=633),
 Row(userId='119', length=240.8224, page='NextSong', sessionId=633),
 Row(userId='119', length=229.14567, page='NextSong', sessionId=633),
 Row(userId='119', length=292.98893, page='NextSong', sessionId=633),
 Row(userId='119', length=266.44853, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Logout', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=203.33669, page='NextSong', sessionId=633),
 Row(userId='119', length=347.81995, page='NextSong', sessionId=633),
 Row(userId='119', length=312.89424, page='NextSong', sessionId=633),
 Row(userId='119', length=933.0673, page='NextSong', sessionId=633),
 Row(userId='119', length=314.40934, page='NextSong', sessionId=633),
 Row(userId='119', length=525.68771, page='NextSong', sessionId=633),
 Row(userId='119', length=96.46975, page='NextSong', sessionId=633),
 Row(userId='119', length=240.90077, page='NextSong', sessionId=633),
 Row(userId='119', length=330.16118, page='NextSong', sessionId=633),
 Row(userId='119', length=175.17669, page='NextSong', sessionId=633),
 Row(userId='119', length=245.05424, page='NextSong', sessionId=633),
 Row(userId='119', length=239.35955, page='NextSong', sessionId=633),
 Row(userId='119', length=None, page='Home', sessionId=633),
 Row(userId='119', length=294.86975, page='NextSong', sessionId=906),
 Row(userId='119', length=None, page='Roll Advert', sessionId=906),
 Row(userId='119', length=186.93179, page='NextSong', sessionId=906),
 Row(userId='119', length=466.54649, page='NextSong', sessionId=906),
 Row(userId='119', length=146.62485, page='NextSong', sessionId=906),
 Row(userId='119', length=230.03383, page='NextSong', sessionId=906),
 Row(userId='119', length=391.3922, page='NextSong', sessionId=906),
 Row(userId='119', length=210.59873, page='NextSong', sessionId=906),
 Row(userId='119', length=None, page='Roll Advert', sessionId=906),
 Row(userId='119', length=181.21098, page='NextSong', sessionId=906),
 Row(userId='119', length=274.31138, page='NextSong', sessionId=906),
 Row(userId='119', length=227.49995, page='NextSong', sessionId=906),
 Row(userId='119', length=195.47383, page='NextSong', sessionId=906),
 Row(userId='119', length=176.97914, page='NextSong', sessionId=906),
 Row(userId='119', length=None, page='Roll Advert', sessionId=906),
 Row(userId='119', length=277.15873, page='NextSong', sessionId=906),
 Row(userId='119', length=338.18077, page='NextSong', sessionId=906),
 Row(userId='119', length=348.57751, page='NextSong', sessionId=906),
 Row(userId='119', length=247.32689, page='NextSong', sessionId=906),
 Row(userId='119', length=321.54077, page='NextSong', sessionId=906),
 Row(userId='119', length=247.74485, page='NextSong', sessionId=906),
 Row(userId='119', length=263.96689, page='NextSong', sessionId=906),
 Row(userId='119', length=116.08771, page='NextSong', sessionId=906),
 Row(userId='119', length=384.67873, page='NextSong', sessionId=906),
 Row(userId='119', length=512.86159, page='NextSong', sessionId=906),
 Row(userId='119', length=224.20853, page='NextSong', sessionId=906),
 Row(userId='119', length=360.51546, page='NextSong', sessionId=906),
 Row(userId='119', length=260.20526, page='NextSong', sessionId=906),
 Row(userId='119', length=254.40608, page='NextSong', sessionId=906),
 Row(userId='119', length=153.86077, page='NextSong', sessionId=906),
 Row(userId='119', length=179.40853, page='NextSong', sessionId=906),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=906),
 Row(userId='119', length=161.25342, page='NextSong', sessionId=906),
 Row(userId='119', length=None, page='Roll Advert', sessionId=906),
 Row(userId='119', length=246.33424, page='NextSong', sessionId=1129),
 Row(userId='119', length=195.94404, page='NextSong', sessionId=1129),
 Row(userId='119', length=201.79546, page='NextSong', sessionId=1129),
 Row(userId='119', length=376.86812, page='NextSong', sessionId=1129),
 Row(userId='119', length=146.05016, page='NextSong', sessionId=1129),
 Row(userId='119', length=428.64281, page='NextSong', sessionId=1129),
 Row(userId='119', length=284.81261, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Thumbs Down', sessionId=1129),
 Row(userId='119', length=202.73587, page='NextSong', sessionId=1129),
 Row(userId='119', length=196.20526, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Help', sessionId=1129),
 Row(userId='119', length=324.07465, page='NextSong', sessionId=1129),
 Row(userId='119', length=248.0322, page='NextSong', sessionId=1129),
 Row(userId='119', length=246.59546, page='NextSong', sessionId=1129),
 Row(userId='119', length=204.48608, page='NextSong', sessionId=1129),
 Row(userId='119', length=197.92934, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Add Friend', sessionId=1129),
 Row(userId='119', length=None, page='Add Friend', sessionId=1129),
 Row(userId='119', length=None, page='About', sessionId=1129),
 Row(userId='119', length=None, page='Add Friend', sessionId=1129),
 Row(userId='119', length=220.89098, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=1129),
 Row(userId='119', length=277.7073, page='NextSong', sessionId=1129),
 Row(userId='119', length=251.48036, page='NextSong', sessionId=1129),
 Row(userId='119', length=279.19628, page='NextSong', sessionId=1129),
 Row(userId='119', length=149.60281, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=1129),
 Row(userId='119', length=180.55791, page='NextSong', sessionId=1129),
 Row(userId='119', length=265.24689, page='NextSong', sessionId=1129),
 Row(userId='119', length=258.16771, page='NextSong', sessionId=1129),
 Row(userId='119', length=356.44036, page='NextSong', sessionId=1129),
 Row(userId='119', length=227.16036, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Roll Advert', sessionId=1129),
 Row(userId='119', length=245.39383, page='NextSong', sessionId=1129),
 Row(userId='119', length=442.14812, page='NextSong', sessionId=1129),
 Row(userId='119', length=187.29751, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=1129),
 Row(userId='119', length=253.07383, page='NextSong', sessionId=1129),
 Row(userId='119', length=506.51383, page='NextSong', sessionId=1129),
 Row(userId='119', length=205.06077, page='NextSong', sessionId=1129),
 Row(userId='119', length=313.65179, page='NextSong', sessionId=1129),
 Row(userId='119', length=244.53179, page='NextSong', sessionId=1129),
 Row(userId='119', length=226.0371, page='NextSong', sessionId=1129),
 Row(userId='119', length=224.49587, page='NextSong', sessionId=1129),
 Row(userId='119', length=215.87546, page='NextSong', sessionId=1129),
 Row(userId='119', length=132.46649, page='NextSong', sessionId=1129),
 Row(userId='119', length=263.8624, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Help', sessionId=1129),
 Row(userId='119', length=246.88281, page='NextSong', sessionId=1129),
 Row(userId='119', length=205.71383, page='NextSong', sessionId=1129),
 Row(userId='119', length=263.78404, page='NextSong', sessionId=1129),
 Row(userId='119', length=354.95138, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Settings', sessionId=1129),
 Row(userId='119', length=203.25832, page='NextSong', sessionId=1129),
 Row(userId='119', length=431.15057, page='NextSong', sessionId=1129),
 Row(userId='119', length=225.88036, page='NextSong', sessionId=1129),
 Row(userId='119', length=265.35138, page='NextSong', sessionId=1129),
 Row(userId='119', length=201.09016, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Add to Playlist', sessionId=1129),
 Row(userId='119', length=199.18322, page='NextSong', sessionId=1129),
 Row(userId='119', length=261.74649, page='NextSong', sessionId=1129),
 Row(userId='119', length=None, page='Help', sessionId=1129),
 Row(userId='119', length=157.33506, page='NextSong', sessionId=1470),
 Row(userId='119', length=162.45506, page='NextSong', sessionId=1470),
 Row(userId='119', length=274.96444, page='NextSong', sessionId=1470),
 Row(userId='119', length=264.202, page='NextSong', sessionId=1470),
 Row(userId='119', length=369.44934, page='NextSong', sessionId=1470),
 Row(userId='119', length=227.21261, page='NextSong', sessionId=1470),
 Row(userId='119', length=294.86975, page='NextSong', sessionId=1470),
 Row(userId='119', length=192.522, page='NextSong', sessionId=1470),
 Row(userId='119', length=136.54159, page='NextSong', sessionId=1470),
 Row(userId='119', length=231.81016, page='NextSong', sessionId=1470),
 Row(userId='119', length=174.73261, page='NextSong', sessionId=1470),
 Row(userId='119', length=195.18649, page='NextSong', sessionId=1470),
 Row(userId='119', length=265.53424, page='NextSong', sessionId=1470),
 Row(userId='119', length=265.09016, page='NextSong', sessionId=1470),
 Row(userId='119', length=187.48036, page='NextSong', sessionId=1470),
 Row(userId='119', length=196.41424, page='NextSong', sessionId=1470),
 Row(userId='119', length=129.61914, page='NextSong', sessionId=1470),
 Row(userId='119', length=207.38567, page='NextSong', sessionId=1470),
 Row(userId='119', length=None, page='Logout', sessionId=1470),
 Row(userId='119', length=None, page='Home', sessionId=1841),
 Row(userId='119', length=95.81669, page='NextSong', sessionId=1841),
 Row(userId='119', length=236.09424, page='NextSong', sessionId=1841),
 Row(userId='119', length=253.59628, page='NextSong', sessionId=1841),
 Row(userId='119', length=None, page='Settings', sessionId=1841),
 Row(userId='119', length=None, page='Settings', sessionId=1841),
 Row(userId='119', length=None, page='Save Settings', sessionId=1841),
 Row(userId='119', length=None, page='Home', sessionId=1841),
 Row(userId='119', length=258.55955, page='NextSong', sessionId=1841),
 Row(userId='119', length=272.03873, page='NextSong', sessionId=1841),
 Row(userId='119', length=269.71383, page='NextSong', sessionId=1841),
 Row(userId='119', length=208.16934, page='NextSong', sessionId=1841),
 Row(userId='119', length=242.46812, page='NextSong', sessionId=1841),
 Row(userId='119', length=None, page='Home', sessionId=1841),
 Row(userId='119', length=207.20281, page='NextSong', sessionId=1841),
 Row(userId='119', length=None, page='Thumbs Up', sessionId=1841)]

If page is 'NextSong', length represents the song's length. Potentially useful column, partially with Nulls

#### level

In [27]:
df.groupBy('level').count().sort(desc('count')).show(5)

+-----+------+
|level| count|
+-----+------+
| paid|222433|
| free| 55721|
+-----+------+

In [28]:
df.filter(df['level'].isNull()).count()

0

Columns distinguishing paid users from free users.

#### location

In [29]:
df.groupBy('location').count().sort(desc('count')).show(15)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|Los Angeles-Long ...|30131|
|New York-Newark-J...|23684|
|Boston-Cambridge-...|13873|
|Houston-The Woodl...| 9499|
|Charlotte-Concord...| 7780|
|Dallas-Fort Worth...| 7605|
|Louisville/Jeffer...| 6880|
|Philadelphia-Camd...| 5890|
|Chicago-Napervill...| 5114|
|    St. Louis, MO-IL| 4858|
|Phoenix-Mesa-Scot...| 4846|
|Vineland-Bridgeto...| 4825|
|          Wilson, NC| 4659|
|Denver-Aurora-Lak...| 4453|
|           Ionia, MI| 4428|
+--------------------+-----+
only showing top 15 rows

In [30]:
df.select('location').dropDuplicates().count()

114

114 unique locations. That would be a difficulat feature to be used

#### method

In [31]:
df.groupBy('method').count().sort(desc('count')).show(15)

+------+------+
|method| count|
+------+------+
|   PUT|257818|
|   GET| 20336|
+------+------+

It is hard to interpret the usefulness of this column

#### page

In [32]:
df.groupBy('page').count().sort(desc('count')).show(20)

+--------------------+------+
|                page| count|
+--------------------+------+
|            NextSong|228108|
|           Thumbs Up| 12551|
|                Home| 10082|
|     Add to Playlist|  6526|
|          Add Friend|  4277|
|         Roll Advert|  3933|
|              Logout|  3226|
|         Thumbs Down|  2546|
|           Downgrade|  2055|
|            Settings|  1514|
|                Help|  1454|
|             Upgrade|   499|
|               About|   495|
|       Save Settings|   310|
|               Error|   252|
|      Submit Upgrade|   159|
|    Submit Downgrade|    63|
|Cancellation Conf...|    52|
|              Cancel|    52|
+--------------------+------+

In [33]:
df.filter(df['page'].isNull()).count()

0

In [34]:
df.select('page').dropDuplicates().count()

19

Page has 19 possible different values. It is a potentially good column for both feature creation and churn definition

#### registration

In [35]:
df.groupBy('registration').count().sort(desc('count')).show(5)

+-------------+-----+
| registration|count|
+-------------+-----+
|1529027541000| 9632|
|1536403972000| 7230|
|1536642109000| 6880|
|1538336771000| 5732|
|1532224335000| 4825|
+-------------+-----+
only showing top 5 rows

In [36]:
df.select('registration').dropDuplicates().count()

225

In [37]:
df.filter(df['registration'].isNull()).count()

0

In [38]:
# Converting registration into readible format of registration_date
get_date = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000.0).strftime('%Y-%m-%d'))
df = df.withColumn("registration_date", get_date(df.registration))

The column represents registration time of each user. Therefore for a particular user there is one unique date. Registration date might be useful as a feature, we will keep it

#### sessionId

In [39]:
df.select('sessionId').dropDuplicates().count()

2312

In [40]:
df.filter(df['sessionId'].isNull()).count()

0

In [41]:
df.select('sessionId').take(5)

[Row(sessionId=29),
 Row(sessionId=8),
 Row(sessionId=29),
 Row(sessionId=8),
 Row(sessionId=29)]

There are more sessionIds than userIds which means that each user can have multiple sessions. Potentially the number of sessionIds for a user can be a feature

#### song

In [42]:
df.select('song').dropDuplicates().count()

58481

In [43]:
df.select('song').take(10)

[Row(song='Rockpools'),
 Row(song='Canada'),
 Row(song='Time For Miracles'),
 Row(song='Knocking On Forbidden Doors'),
 Row(song='Harder Better Faster Stronger'),
 Row(song="Don't Leave Me"),
 Row(song='Run Run Run'),
 Row(song='Passengers (Old Album Version)'),
 Row(song=None),
 Row(song='Fuck Kitty')]

This column represents the song's name

#### status

In [44]:
df.select('status').dropDuplicates().count()

3

In [45]:
df.select('status').take(10)

[Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200),
 Row(status=200)]

In [46]:
df.filter(df['status'].isNull()).count()

0

In [47]:
df.groupBy('status').count().sort(desc('count')).show(20)

+------+------+
|status| count|
+------+------+
|   200|254718|
|   307| 23184|
|   404|   252|
+------+------+

We will keep this column for further exploration

#### ts

In [48]:
df.select('ts').take(5)

[Row(ts=1538352117000),
 Row(ts=1538352180000),
 Row(ts=1538352394000),
 Row(ts=1538352416000),
 Row(ts=1538352676000)]

In [49]:
df = df.withColumn("ts_date", get_date(df.ts))

In [50]:
df.take(2)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30', registration_date='2018-09-28', ts_date='2018-10-01'),
 Row(artist='Five Iron Frenzy', auth='Logged In', firstName='Micah', gender='M', itemInSession=79, lastName='Long', length=236.09424, level='free', location='Boston-Cambridge-Newton, MA-NH', method='PUT', page='NextSong', registration=1538331630000, sessionId=8, song='Canada', status=200, ts=1538352180000, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', userId='9', registration_date='2018-09-30', ts_date='2018-10-01')]

Timestamp converted into a readable format might be useful

#### userAgent

In [51]:
df.select('userAgent').dropDuplicates().count()

56

In [52]:
df.groupBy('userAgent').count().sort(desc('count')).show(5)

+--------------------+-----+
|           userAgent|count|
+--------------------+-----+
|"Mozilla/5.0 (Win...|22751|
|"Mozilla/5.0 (Mac...|19611|
|"Mozilla/5.0 (Mac...|18448|
|"Mozilla/5.0 (Mac...|17348|
|Mozilla/5.0 (Wind...|16700|
+--------------------+-----+
only showing top 5 rows

It is not clear what this column actually is

#### userId

In [53]:
df.select('userId').dropDuplicates().count()

225

225 users will be analyzed

### 3.2. Churn definition

To create ML model for customer churn, the churn must be defined.
When user goes to page `Cancellation Confirmation` he quits and there are no more records for the user after this event.
Therefore the `Cancellation Confirmation` page is used to define `Churn` label.

#### Defining churn:
* 'churn' column = 1, when user churned i.e. the 'Cancellation Confirmation' event exists under his userId
* 'churn' column = 0, when user hasn't churned i.e. the 'Cancellation Confirmation' event doesn't exist under his userId

In [54]:
# Preparing a list of user_ids for users who churned
user_ids_cancelled = df.select('userId').where(df.page == 'Cancellation Confirmation').dropDuplicates().collect()
user_ids_cancelled = [int(row.userId) for row in user_ids_cancelled]
user_ids_cancelled[:5]

[125, 51, 54, 100014, 101]

In [55]:
df = df.withColumn("churn", when(df.userId.isin(user_ids_cancelled), 1).otherwise(0))

### 3.3. Explore Data to look for relationship with churn

Exploring the columns to observe the behavior for users who stayed vs users who churned. The analysis will help in creating features for ML model.

#### artist

In [56]:
df_distinct_artists = df.groupBy(["churn", "userId"]).agg(countDistinct("artist")).groupby("churn").agg({'count(DISTINCT artist)': 'mean'})
df_distinct_artists.show()

+-----+---------------------------+
|churn|avg(count(DISTINCT artist))|
+-----+---------------------------+
|    1|          518.6923076923077|
|    0|          749.7861271676301|
+-----+---------------------------+

On average users who churn listen to lower number of distinct artists

#### gender

In [57]:
df_gender = df.groupBy(["gender", "churn"]).agg(countDistinct("userId")).sort("gender")
df_gender.show()

+------+-----+----------------------+
|gender|churn|count(DISTINCT userId)|
+------+-----+----------------------+
|     F|    1|                    20|
|     F|    0|                    84|
|     M|    1|                    32|
|     M|    0|                    89|
+------+-----+----------------------+

In [58]:
F_0 = df_gender.filter(df_gender['gender'] == 'F').filter(df_gender['churn'] == '0').collect()[0].asDict()['count(DISTINCT userId)']
F_1 = df_gender.filter(df_gender['gender'] == 'F').filter(df_gender['churn'] == '1').collect()[0].asDict()['count(DISTINCT userId)']
M_0 = df_gender.filter(df_gender['gender'] == 'M').filter(df_gender['churn'] == '0').collect()[0].asDict()['count(DISTINCT userId)']
M_1 = df_gender.filter(df_gender['gender'] == 'M').filter(df_gender['churn'] == '1').collect()[0].asDict()['count(DISTINCT userId)']

In [59]:
print(f'Probability of churning of female user is {(F_1 / (F_0 + F_1)):.2f}')
print(f'Probability of churning of male user is {(M_1 / (M_0 + M_1)):.2f}')

Probability of churning of female user is 0.19
Probability of churning of male user is 0.26

Gender can be helpful as a feature in the ML model.

#### itemInSession

In [60]:
# Relationship between sessionId and ItemInSession for a selected user
df.filter(df['userId'] == '30').select(['sessionId', 'itemInSession']).collect()

[Row(sessionId=29, itemInSession=50),
 Row(sessionId=29, itemInSession=51),
 Row(sessionId=29, itemInSession=52),
 Row(sessionId=29, itemInSession=53),
 Row(sessionId=29, itemInSession=54),
 Row(sessionId=29, itemInSession=55),
 Row(sessionId=29, itemInSession=56),
 Row(sessionId=29, itemInSession=57),
 Row(sessionId=29, itemInSession=58),
 Row(sessionId=29, itemInSession=59),
 Row(sessionId=29, itemInSession=60),
 Row(sessionId=29, itemInSession=61),
 Row(sessionId=29, itemInSession=62),
 Row(sessionId=29, itemInSession=63),
 Row(sessionId=29, itemInSession=64),
 Row(sessionId=29, itemInSession=65),
 Row(sessionId=29, itemInSession=66),
 Row(sessionId=29, itemInSession=67),
 Row(sessionId=29, itemInSession=68),
 Row(sessionId=29, itemInSession=69),
 Row(sessionId=29, itemInSession=70),
 Row(sessionId=29, itemInSession=71),
 Row(sessionId=29, itemInSession=72),
 Row(sessionId=29, itemInSession=73),
 Row(sessionId=29, itemInSession=74),
 Row(sessionId=29, itemInSession=75),
 Row(sessionId=29, itemInSession=76),
 Row(sessionId=29, itemInSession=77),
 Row(sessionId=29, itemInSession=78),
 Row(sessionId=29, itemInSession=79),
 Row(sessionId=29, itemInSession=80),
 Row(sessionId=29, itemInSession=81),
 Row(sessionId=29, itemInSession=82),
 Row(sessionId=29, itemInSession=83),
 Row(sessionId=29, itemInSession=84),
 Row(sessionId=29, itemInSession=85),
 Row(sessionId=29, itemInSession=86),
 Row(sessionId=29, itemInSession=87),
 Row(sessionId=29, itemInSession=88),
 Row(sessionId=29, itemInSession=89),
 Row(sessionId=29, itemInSession=90),
 Row(sessionId=29, itemInSession=91),
 Row(sessionId=264, itemInSession=0),
 Row(sessionId=264, itemInSession=1),
 Row(sessionId=532, itemInSession=0),
 Row(sessionId=532, itemInSession=1),
 Row(sessionId=532, itemInSession=2),
 Row(sessionId=532, itemInSession=3),
 Row(sessionId=532, itemInSession=4),
 Row(sessionId=532, itemInSession=5),
 Row(sessionId=532, itemInSession=6),
 Row(sessionId=532, itemInSession=7),
 Row(sessionId=532, itemInSession=8),
 Row(sessionId=532, itemInSession=9),
 Row(sessionId=532, itemInSession=10),
 Row(sessionId=532, itemInSession=11),
 Row(sessionId=532, itemInSession=12),
 Row(sessionId=532, itemInSession=13),
 Row(sessionId=532, itemInSession=14),
 Row(sessionId=532, itemInSession=15),
 Row(sessionId=532, itemInSession=16),
 Row(sessionId=532, itemInSession=17),
 Row(sessionId=532, itemInSession=18),
 Row(sessionId=532, itemInSession=19),
 Row(sessionId=532, itemInSession=20),
 Row(sessionId=532, itemInSession=21),
 Row(sessionId=532, itemInSession=22),
 Row(sessionId=532, itemInSession=23),
 Row(sessionId=532, itemInSession=24),
 Row(sessionId=532, itemInSession=25),
 Row(sessionId=532, itemInSession=26),
 Row(sessionId=532, itemInSession=27),
 Row(sessionId=532, itemInSession=28),
 Row(sessionId=532, itemInSession=29),
 Row(sessionId=532, itemInSession=30),
 Row(sessionId=532, itemInSession=31),
 Row(sessionId=532, itemInSession=32),
 Row(sessionId=532, itemInSession=33),
 Row(sessionId=532, itemInSession=34),
 Row(sessionId=532, itemInSession=35),
 Row(sessionId=532, itemInSession=36),
 Row(sessionId=532, itemInSession=37),
 Row(sessionId=532, itemInSession=38),
 Row(sessionId=532, itemInSession=39),
 Row(sessionId=532, itemInSession=40),
 Row(sessionId=532, itemInSession=41),
 Row(sessionId=532, itemInSession=42),
 Row(sessionId=532, itemInSession=43),
 Row(sessionId=532, itemInSession=44),
 Row(sessionId=532, itemInSession=45),
 Row(sessionId=532, itemInSession=46),
 Row(sessionId=532, itemInSession=47),
 Row(sessionId=532, itemInSession=48),
 Row(sessionId=532, itemInSession=49),
 Row(sessionId=532, itemInSession=50),
 Row(sessionId=532, itemInSession=51),
 Row(sessionId=532, itemInSession=52),
 Row(sessionId=532, itemInSession=53),
 Row(sessionId=532, itemInSession=54),
 Row(sessionId=532, itemInSession=55),
 Row(sessionId=532, itemInSession=56),
 Row(sessionId=532, itemInSession=57),
 Row(sessionId=532, itemInSession=58),
 Row(sessionId=532, itemInSession=59),
 Row(sessionId=532, itemInSession=60),
 Row(sessionId=532, itemInSession=61),
 Row(sessionId=532, itemInSession=62),
 Row(sessionId=532, itemInSession=63),
 Row(sessionId=532, itemInSession=64),
 Row(sessionId=532, itemInSession=65),
 Row(sessionId=532, itemInSession=66),
 Row(sessionId=532, itemInSession=67),
 Row(sessionId=532, itemInSession=68),
 Row(sessionId=532, itemInSession=69),
 Row(sessionId=532, itemInSession=70),
 Row(sessionId=532, itemInSession=71),
 Row(sessionId=532, itemInSession=72),
 Row(sessionId=532, itemInSession=73),
 Row(sessionId=532, itemInSession=74),
 Row(sessionId=532, itemInSession=75),
 Row(sessionId=532, itemInSession=76),
 Row(sessionId=532, itemInSession=77),
 Row(sessionId=532, itemInSession=78),
 Row(sessionId=532, itemInSession=79),
 Row(sessionId=532, itemInSession=80),
 Row(sessionId=532, itemInSession=81),
 Row(sessionId=532, itemInSession=82),
 Row(sessionId=532, itemInSession=83),
 Row(sessionId=532, itemInSession=84),
 Row(sessionId=532, itemInSession=85),
 Row(sessionId=532, itemInSession=86),
 Row(sessionId=532, itemInSession=87),
 Row(sessionId=532, itemInSession=88),
 Row(sessionId=532, itemInSession=89),
 Row(sessionId=532, itemInSession=90),
 Row(sessionId=532, itemInSession=91),
 Row(sessionId=532, itemInSession=92),
 Row(sessionId=532, itemInSession=93),
 Row(sessionId=532, itemInSession=94),
 Row(sessionId=532, itemInSession=95),
 Row(sessionId=532, itemInSession=96),
 Row(sessionId=532, itemInSession=97),
 Row(sessionId=532, itemInSession=98),
 Row(sessionId=532, itemInSession=99),
 Row(sessionId=532, itemInSession=100),
 Row(sessionId=532, itemInSession=101),
 Row(sessionId=532, itemInSession=102),
 Row(sessionId=532, itemInSession=103),
 Row(sessionId=532, itemInSession=104),
 Row(sessionId=532, itemInSession=105),
 Row(sessionId=532, itemInSession=106),
 Row(sessionId=532, itemInSession=107),
 Row(sessionId=532, itemInSession=108),
 Row(sessionId=532, itemInSession=109),
 Row(sessionId=532, itemInSession=110),
 Row(sessionId=532, itemInSession=111),
 Row(sessionId=532, itemInSession=112),
 Row(sessionId=532, itemInSession=113),
 Row(sessionId=532, itemInSession=114),
 Row(sessionId=532, itemInSession=115),
 Row(sessionId=532, itemInSession=116),
 Row(sessionId=532, itemInSession=117),
 Row(sessionId=532, itemInSession=118),
 Row(sessionId=532, itemInSession=119),
 Row(sessionId=532, itemInSession=120),
 Row(sessionId=532, itemInSession=121),
 Row(sessionId=532, itemInSession=122),
 Row(sessionId=532, itemInSession=123),
 Row(sessionId=532, itemInSession=124),
 Row(sessionId=532, itemInSession=125),
 Row(sessionId=532, itemInSession=126),
 Row(sessionId=532, itemInSession=127),
 Row(sessionId=532, itemInSession=128),
 Row(sessionId=532, itemInSession=129),
 Row(sessionId=532, itemInSession=130),
 Row(sessionId=532, itemInSession=131),
 Row(sessionId=532, itemInSession=132),
 Row(sessionId=532, itemInSession=133),
 Row(sessionId=532, itemInSession=134),
 Row(sessionId=532, itemInSession=135),
 Row(sessionId=532, itemInSession=136),
 Row(sessionId=532, itemInSession=137),
 Row(sessionId=532, itemInSession=138),
 Row(sessionId=532, itemInSession=139),
 Row(sessionId=532, itemInSession=140),
 Row(sessionId=532, itemInSession=141),
 Row(sessionId=532, itemInSession=142),
 Row(sessionId=532, itemInSession=143),
 Row(sessionId=532, itemInSession=144),
 Row(sessionId=532, itemInSession=145),
 Row(sessionId=532, itemInSession=146),
 Row(sessionId=532, itemInSession=147),
 Row(sessionId=532, itemInSession=148),
 Row(sessionId=532, itemInSession=149),
 Row(sessionId=532, itemInSession=150),
 Row(sessionId=532, itemInSession=151),
 Row(sessionId=532, itemInSession=152),
 Row(sessionId=532, itemInSession=153),
 Row(sessionId=532, itemInSession=154),
 Row(sessionId=532, itemInSession=155),
 Row(sessionId=532, itemInSession=156),
 Row(sessionId=532, itemInSession=157),
 Row(sessionId=532, itemInSession=158),
 Row(sessionId=532, itemInSession=159),
 Row(sessionId=532, itemInSession=160),
 Row(sessionId=532, itemInSession=161),
 Row(sessionId=532, itemInSession=162),
 Row(sessionId=532, itemInSession=163),
 Row(sessionId=532, itemInSession=164),
 Row(sessionId=532, itemInSession=165),
 Row(sessionId=532, itemInSession=166),
 Row(sessionId=532, itemInSession=167),
 Row(sessionId=532, itemInSession=168),
 Row(sessionId=532, itemInSession=169),
 Row(sessionId=532, itemInSession=170),
 Row(sessionId=532, itemInSession=171),
 Row(sessionId=532, itemInSession=172),
 Row(sessionId=532, itemInSession=173),
 Row(sessionId=532, itemInSession=174),
 Row(sessionId=532, itemInSession=175),
 Row(sessionId=532, itemInSession=176),
 Row(sessionId=532, itemInSession=177),
 Row(sessionId=532, itemInSession=178),
 Row(sessionId=532, itemInSession=179),
 Row(sessionId=532, itemInSession=180),
 Row(sessionId=532, itemInSession=181),
 Row(sessionId=532, itemInSession=182),
 Row(sessionId=532, itemInSession=183),
 Row(sessionId=532, itemInSession=184),
 Row(sessionId=532, itemInSession=185),
 Row(sessionId=532, itemInSession=186),
 Row(sessionId=532, itemInSession=187),
 Row(sessionId=532, itemInSession=188),
 Row(sessionId=532, itemInSession=189),
 Row(sessionId=532, itemInSession=190),
 Row(sessionId=532, itemInSession=191),
 Row(sessionId=532, itemInSession=192),
 Row(sessionId=532, itemInSession=193),
 Row(sessionId=532, itemInSession=194),
 Row(sessionId=532, itemInSession=195),
 Row(sessionId=532, itemInSession=196),
 Row(sessionId=532, itemInSession=197),
 Row(sessionId=532, itemInSession=198),
 Row(sessionId=532, itemInSession=199),
 Row(sessionId=532, itemInSession=200),
 Row(sessionId=532, itemInSession=201),
 Row(sessionId=532, itemInSession=202),
 Row(sessionId=532, itemInSession=203),
 Row(sessionId=532, itemInSession=204),
 Row(sessionId=532, itemInSession=205),
 Row(sessionId=532, itemInSession=206),
 Row(sessionId=532, itemInSession=207),
 Row(sessionId=532, itemInSession=208),
 Row(sessionId=532, itemInSession=209),
 Row(sessionId=532, itemInSession=210),
 Row(sessionId=532, itemInSession=211),
 Row(sessionId=532, itemInSession=212),
 Row(sessionId=532, itemInSession=213),
 Row(sessionId=532, itemInSession=214),
 Row(sessionId=532, itemInSession=215),
 Row(sessionId=532, itemInSession=216),
 Row(sessionId=532, itemInSession=217),
 Row(sessionId=532, itemInSession=218),
 Row(sessionId=532, itemInSession=219),
 Row(sessionId=532, itemInSession=220),
 Row(sessionId=532, itemInSession=221),
 Row(sessionId=532, itemInSession=222),
 Row(sessionId=532, itemInSession=223),
 Row(sessionId=532, itemInSession=224),
 Row(sessionId=532, itemInSession=225),
 Row(sessionId=532, itemInSession=226),
 Row(sessionId=532, itemInSession=227),
 Row(sessionId=532, itemInSession=228),
 Row(sessionId=532, itemInSession=229),
 Row(sessionId=532, itemInSession=230),
 Row(sessionId=532, itemInSession=231),
 Row(sessionId=532, itemInSession=232),
 Row(sessionId=532, itemInSession=233),
 Row(sessionId=532, itemInSession=234),
 Row(sessionId=532, itemInSession=235),
 Row(sessionId=532, itemInSession=236),
 Row(sessionId=532, itemInSession=237),
 Row(sessionId=532, itemInSession=238),
 Row(sessionId=532, itemInSession=239),
 Row(sessionId=532, itemInSession=240),
 Row(sessionId=532, itemInSession=241),
 Row(sessionId=532, itemInSession=242),
 Row(sessionId=532, itemInSession=243),
 Row(sessionId=532, itemInSession=244),
 Row(sessionId=532, itemInSession=245),
 Row(sessionId=532, itemInSession=246),
 Row(sessionId=532, itemInSession=247),
 Row(sessionId=532, itemInSession=248),
 Row(sessionId=532, itemInSession=249),
 Row(sessionId=532, itemInSession=250),
 Row(sessionId=532, itemInSession=251),
 Row(sessionId=532, itemInSession=252),
 Row(sessionId=532, itemInSession=253),
 Row(sessionId=532, itemInSession=254),
 Row(sessionId=532, itemInSession=255),
 Row(sessionId=532, itemInSession=256),
 Row(sessionId=532, itemInSession=257),
 Row(sessionId=532, itemInSession=258),
 Row(sessionId=532, itemInSession=259),
 Row(sessionId=532, itemInSession=260),
 Row(sessionId=532, itemInSession=261),
 Row(sessionId=532, itemInSession=262),
 Row(sessionId=532, itemInSession=263),
 Row(sessionId=532, itemInSession=264),
 Row(sessionId=532, itemInSession=265),
 Row(sessionId=532, itemInSession=266),
 Row(sessionId=532, itemInSession=267),
 Row(sessionId=532, itemInSession=268),
 Row(sessionId=532, itemInSession=269),
 Row(sessionId=532, itemInSession=270),
 Row(sessionId=532, itemInSession=271),
 Row(sessionId=532, itemInSession=272),
 Row(sessionId=532, itemInSession=273),
 Row(sessionId=532, itemInSession=274),
 Row(sessionId=532, itemInSession=275),
 Row(sessionId=532, itemInSession=276),
 Row(sessionId=532, itemInSession=277),
 Row(sessionId=532, itemInSession=278),
 Row(sessionId=532, itemInSession=279),
 Row(sessionId=532, itemInSession=280),
 Row(sessionId=532, itemInSession=281),
 Row(sessionId=532, itemInSession=282),
 Row(sessionId=532, itemInSession=283),
 Row(sessionId=532, itemInSession=284),
 Row(sessionId=532, itemInSession=285),
 Row(sessionId=532, itemInSession=286),
 Row(sessionId=532, itemInSession=287),
 Row(sessionId=532, itemInSession=288),
 Row(sessionId=532, itemInSession=289),
 Row(sessionId=614, itemInSession=0),
 Row(sessionId=614, itemInSession=1),
 Row(sessionId=614, itemInSession=2),
 Row(sessionId=614, itemInSession=3),
 Row(sessionId=614, itemInSession=4),
 Row(sessionId=614, itemInSession=5),
 Row(sessionId=682, itemInSession=0),
 Row(sessionId=682, itemInSession=1),
 Row(sessionId=757, itemInSession=0),
 Row(sessionId=757, itemInSession=1),
 Row(sessionId=757, itemInSession=2),
 Row(sessionId=757, itemInSession=3),
 Row(sessionId=757, itemInSession=4),
 Row(sessionId=757, itemInSession=5),
 Row(sessionId=757, itemInSession=6),
 Row(sessionId=757, itemInSession=7),
 Row(sessionId=757, itemInSession=8),
 Row(sessionId=757, itemInSession=9),
 Row(sessionId=757, itemInSession=10),
 Row(sessionId=757, itemInSession=11),
 Row(sessionId=757, itemInSession=12),
 Row(sessionId=757, itemInSession=13),
 Row(sessionId=757, itemInSession=14),
 Row(sessionId=757, itemInSession=15),
 Row(sessionId=757, itemInSession=16),
 Row(sessionId=757, itemInSession=17),
 Row(sessionId=757, itemInSession=18),
 Row(sessionId=757, itemInSession=19),
 Row(sessionId=757, itemInSession=20),
 Row(sessionId=757, itemInSession=21),
 Row(sessionId=757, itemInSession=22),
 Row(sessionId=757, itemInSession=23),
 Row(sessionId=757, itemInSession=24),
 Row(sessionId=757, itemInSession=25),
 Row(sessionId=757, itemInSession=26),
 Row(sessionId=763, itemInSession=0),
 Row(sessionId=763, itemInSession=1),
 Row(sessionId=763, itemInSession=2),
 Row(sessionId=763, itemInSession=3),
 Row(sessionId=763, itemInSession=4),
 Row(sessionId=763, itemInSession=5),
 Row(sessionId=763, itemInSession=6),
 Row(sessionId=763, itemInSession=7),
 Row(sessionId=763, itemInSession=8),
 Row(sessionId=763, itemInSession=9),
 Row(sessionId=763, itemInSession=10),
 Row(sessionId=763, itemInSession=11),
 Row(sessionId=763, itemInSession=12),
 Row(sessionId=763, itemInSession=13),
 Row(sessionId=763, itemInSession=14),
 Row(sessionId=763, itemInSession=15),
 Row(sessionId=763, itemInSession=16),
 Row(sessionId=763, itemInSession=17),
 Row(sessionId=763, itemInSession=18),
 Row(sessionId=763, itemInSession=19),
 Row(sessionId=763, itemInSession=20),
 Row(sessionId=763, itemInSession=21),
 Row(sessionId=763, itemInSession=22),
 Row(sessionId=763, itemInSession=23),
 Row(sessionId=763, itemInSession=24),
 Row(sessionId=763, itemInSession=25),
 Row(sessionId=763, itemInSession=26),
 Row(sessionId=763, itemInSession=27),
 Row(sessionId=763, itemInSession=28),
 Row(sessionId=763, itemInSession=29),
 Row(sessionId=763, itemInSession=30),
 Row(sessionId=763, itemInSession=31),
 Row(sessionId=816, itemInSession=1),
 Row(sessionId=816, itemInSession=2),
 Row(sessionId=816, itemInSession=3),
 Row(sessionId=816, itemInSession=4),
 Row(sessionId=816, itemInSession=5),
 Row(sessionId=816, itemInSession=6),
 Row(sessionId=816, itemInSession=7),
 Row(sessionId=816, itemInSession=8),
 Row(sessionId=816, itemInSession=9),
 Row(sessionId=816, itemInSession=10),
 Row(sessionId=816, itemInSession=11),
 Row(sessionId=816, itemInSession=12),
 Row(sessionId=816, itemInSession=13),
 Row(sessionId=816, itemInSession=14),
 Row(sessionId=816, itemInSession=15),
 Row(sessionId=816, itemInSession=16),
 Row(sessionId=816, itemInSession=17),
 Row(sessionId=816, itemInSession=18),
 Row(sessionId=816, itemInSession=19),
 Row(sessionId=816, itemInSession=20),
 Row(sessionId=816, itemInSession=21),
 Row(sessionId=816, itemInSession=22),
 Row(sessionId=816, itemInSession=23),
 Row(sessionId=816, itemInSession=24),
 Row(sessionId=816, itemInSession=25),
 Row(sessionId=816, itemInSession=26),
 Row(sessionId=816, itemInSession=27),
 Row(sessionId=816, itemInSession=28),
 Row(sessionId=816, itemInSession=29),
 Row(sessionId=816, itemInSession=30),
 Row(sessionId=816, itemInSession=33),
 Row(sessionId=816, itemInSession=34),
 Row(sessionId=816, itemInSession=35),
 Row(sessionId=816, itemInSession=36),
 Row(sessionId=816, itemInSession=37),
 Row(sessionId=816, itemInSession=38),
 Row(sessionId=816, itemInSession=39),
 Row(sessionId=816, itemInSession=40),
 Row(sessionId=816, itemInSession=41),
 Row(sessionId=816, itemInSession=42),
 Row(sessionId=816, itemInSession=43),
 Row(sessionId=816, itemInSession=44),
 Row(sessionId=816, itemInSession=45),
 Row(sessionId=816, itemInSession=46),
 Row(sessionId=816, itemInSession=47),
 Row(sessionId=816, itemInSession=48),
 Row(sessionId=816, itemInSession=49),
 Row(sessionId=816, itemInSession=50),
 Row(sessionId=816, itemInSession=51),
 Row(sessionId=816, itemInSession=52),
 Row(sessionId=816, itemInSession=53),
 Row(sessionId=816, itemInSession=54),
 Row(sessionId=816, itemInSession=55),
 Row(sessionId=816, itemInSession=56),
 Row(sessionId=816, itemInSession=57),
 Row(sessionId=816, itemInSession=58),
 Row(sessionId=816, itemInSession=59),
 Row(sessionId=816, itemInSession=60),
 Row(sessionId=816, itemInSession=61),
 Row(sessionId=816, itemInSession=62),
 Row(sessionId=816, itemInSession=63),
 Row(sessionId=816, itemInSession=64),
 Row(sessionId=816, itemInSession=65),
 Row(sessionId=816, itemInSession=66),
 Row(sessionId=816, itemInSession=67),
 Row(sessionId=816, itemInSession=68),
 Row(sessionId=816, itemInSession=69),
 Row(sessionId=816, itemInSession=70),
 Row(sessionId=816, itemInSession=75),
 Row(sessionId=816, itemInSession=76),
 Row(sessionId=816, itemInSession=77),
 Row(sessionId=816, itemInSession=78),
 Row(sessionId=816, itemInSession=79),
 Row(sessionId=816, itemInSession=80),
 Row(sessionId=816, itemInSession=81),
 Row(sessionId=816, itemInSession=82),
 Row(sessionId=816, itemInSession=83),
 Row(sessionId=892, itemInSession=0),
 Row(sessionId=892, itemInSession=1),
 Row(sessionId=945, itemInSession=2),
 Row(sessionId=1110, itemInSession=0),
 Row(sessionId=1110, itemInSession=1),
 Row(sessionId=1110, itemInSession=2),
 Row(sessionId=1110, itemInSession=3),
 Row(sessionId=1110, itemInSession=4),
 Row(sessionId=1110, itemInSession=5),
 Row(sessionId=1110, itemInSession=6),
 Row(sessionId=1110, itemInSession=7),
 Row(sessionId=1110, itemInSession=8),
 Row(sessionId=1110, itemInSession=9),
 Row(sessionId=1110, itemInSession=10),
 Row(sessionId=1110, itemInSession=11),
 Row(sessionId=1110, itemInSession=12),
 Row(sessionId=1110, itemInSession=13),
 Row(sessionId=1110, itemInSession=14),
 Row(sessionId=1110, itemInSession=15),
 Row(sessionId=1110, itemInSession=16),
 Row(sessionId=1110, itemInSession=17),
 Row(sessionId=1110, itemInSession=18),
 Row(sessionId=1110, itemInSession=19),
 Row(sessionId=1110, itemInSession=20),
 Row(sessionId=1110, itemInSession=21),
 Row(sessionId=1110, itemInSession=22),
 Row(sessionId=1110, itemInSession=23),
 Row(sessionId=1110, itemInSession=24),
 Row(sessionId=1110, itemInSession=25),
 Row(sessionId=1110, itemInSession=26),
 Row(sessionId=1110, itemInSession=27),

One session can have many itemInSession elements

In [61]:
df_itemInSessioncount = df.groupBy(["churn", "userId", "sessionId"]).agg({'itemInSession': 'count'}).sort('userId')
df_itemInSessioncount.show()

+-----+------+---------+--------------------+
|churn|userId|sessionId|count(itemInSession)|
+-----+------+---------+--------------------+
|    0|    10|     1592|                  78|
|    0|    10|        9|                  70|
|    0|    10|     1414|                  78|
|    0|    10|      595|                 449|
|    0|    10|     1047|                  25|
|    0|    10|     1981|                  95|
|    0|   100|     2075|                 235|
|    0|   100|     1760|                   1|
|    0|   100|      369|                 108|
|    0|   100|     1473|                 204|
|    0|   100|     1590|                 313|
|    0|   100|     1782|                   7|
|    0|   100|     2428|                  91|
|    0|   100|     1944|                 222|
|    0|   100|      256|                 177|
|    0|   100|     1231|                  18|
|    0|   100|     1269|                   5|
|    0|   100|     2304|                 196|
|    0|   100|     1707|                   3|
|    0|   100|     2240|                  23|
+-----+------+---------+--------------------+
only showing top 20 rows

In [62]:
df_itemInSessioncount2 = df_itemInSessioncount.groupBy(["churn", "userId"]).agg({'count(itemInSession)': 'mean'}).sort('userId')
df_itemInSessioncount2.show()

+-----+------+-------------------------+
|churn|userId|avg(count(itemInSession))|
+-----+------+-------------------------+
|    0|    10|                    132.5|
|    0|   100|        91.82857142857142|
|    1|100001|                    46.75|
|    0|100002|                     54.5|
|    1|100003|                     39.0|
|    0|100004|       59.285714285714285|
|    1|100005|                     43.2|
|    1|100006|                     44.0|
|    1|100007|        57.77777777777778|
|    0|100008|       156.66666666666666|
|    1|100009|                     67.1|
|    0|100010|        54.42857142857143|
|    1|100011|                     23.0|
|    1|100012|        85.71428571428571|
|    1|100013|        99.42857142857143|
|    1|100014|       51.666666666666664|
|    1|100015|                     87.5|
|    0|100016|                    79.75|
|    1|100017|                     75.0|
|    0|100018|       61.333333333333336|
+-----+------+-------------------------+
only showing top 20 rows

In [63]:
df_itemInSessioncount2.groupBy("churn").agg({'avg(count(itemInSession))': 'mean'}).sort('churn').show()

+-----+------------------------------+
|churn|avg(avg(count(itemInSession)))|
+-----+------------------------------+
|    0|             86.99517396743398|
|    1|             77.61705074052895|
+-----+------------------------------+

Users who churn have on average less items per session

#### length

In [64]:
df_length = df.groupBy(["churn", "userId"]).agg({'length': 'sum'}).sort('churn')
df_length.show()

+-----+------+------------------+
|churn|userId|       sum(length)|
+-----+------+------------------+
|    0|100008|      191396.79602|
|    0|200022| 85942.33360000003|
|    0|300002|402107.92633999983|
|    0|300008|348739.33905000007|
|    0|200012|       16472.36843|
|    0|100010|       66940.89735|
|    0|    23|164815.40200000012|
|    0|    80| 89471.02372999999|
|    0|    97| 491231.4963499998|
|    0|    39|1991154.9155799998|
|    0|   149| 48136.58831000002|
|    0|200019|121838.16904000004|
|    0|    93|      157811.98088|
|    0|200007|15739.869310000002|
|    0|   114|      327836.51452|
|    0|200003|184388.15249999988|
|    0|    50|122751.27560999998|
|    0|    82| 424932.7910600001|
|    0|    14|304778.64878000005|
|    0|     8| 63393.53190999998|
+-----+------+------------------+
only showing top 20 rows

In [65]:
df_length.groupBy('churn').agg({'sum(length)': 'mean'}).sort('churn').show()

+-----+------------------+
|churn|  avg(sum(length))|
+-----+------------------+
|    0| 276166.9374678035|
|    1|174014.26855134612|
+-----+------------------+

On average the sum of length of the songs played is shorter for users which churned compared to users who stayed

#### page

Page can have 19 unique values. Let's check if the fact that user encountered Error can influence the usere's churn.

In [66]:
user_ids_error = df.select('userId').where(df.page == 'Error').dropDuplicates().collect()
user_ids_error = [int(row.userId) for row in user_ids_error]
df = df.withColumn("error_encountered", when(df.userId.isin(user_ids_error), 1).otherwise(0))
df.groupBy(["churn", "userId"]).agg({'error_encountered': 'mean'}).groupBy('churn').agg({'avg(error_encountered)': 'mean'}).show()

+-----+---------------------------+
|churn|avg(avg(error_encountered))|
+-----+---------------------------+
|    1|         0.4230769230769231|
|    0|         0.5491329479768786|
+-----+---------------------------+

Encountering an error does not imply quitting from Sparkify

#### sessionId

In [67]:
df.groupBy(["churn", "userId"]).agg({'sessionId': 'count'}).groupBy('churn').agg({'count(sessionId)': 'mean'}).show()

+-----+---------------------+
|churn|avg(count(sessionId))|
+-----+---------------------+
|    1|    862.7692307692307|
|    0|   1348.4971098265896|
+-----+---------------------+

Useres who churn have much less sessions

#### timestamp information
In the dateset there are two column with timestamp information: registration time and event time. Using this information we can calculate how long the user stays in Sparkify.

In [68]:
df = df.withColumn("registration_date_datetime", to_date(df.registration_date, "yyyy-MM-dd"))
df = df.withColumn("ts_date_datetime", to_date(df.ts_date, "yyyy-MM-dd"))

In [69]:
df_dates = df.groupBy(['churn', 'userId']).agg({'registration_date_datetime': 'max', 'ts_date_datetime': 'max'})
df_datediff = df_dates.withColumn('date_diff', datediff("max(ts_date_datetime)", "max(registration_date_datetime)"))
df_datediff.show()

+-----+------+---------------------+-------------------------------+---------+
|churn|userId|max(ts_date_datetime)|max(registration_date_datetime)|date_diff|
+-----+------+---------------------+-------------------------------+---------+
|    0|   114|           2018-11-23|                     2018-09-13|       71|
|    0|    39|           2018-11-30|                     2018-06-15|      168|
|    1|    12|           2018-10-22|                     2018-08-10|       73|
|    1|   103|           2018-11-04|                     2018-09-23|       42|
|    0|200012|           2018-11-30|                     2018-09-26|       65|
|    0|    82|           2018-11-28|                     2018-09-14|       75|
|    0|    14|           2018-11-27|                     2018-07-18|      132|
|    0|    80|           2018-11-28|                     2018-09-30|       59|
|    0|    97|           2018-11-30|                     2018-09-04|       87|
|    0|     8|           2018-11-30|                     2018-08-07|      115|
|    0|   149|           2018-10-31|                     2018-09-15|       46|
|    1|    32|           2018-10-08|                     2018-09-17|       21|
|    0|100010|           2018-11-21|                     2018-09-27|       55|
|    1|   106|           2018-11-02|                     2018-09-23|       40|
|    1|100015|           2018-11-24|                     2018-09-17|       68|
|    1|100001|           2018-10-02|                     2018-08-18|       45|
|    0|300008|           2018-11-29|                     2018-08-30|       91|
|    0|    50|           2018-11-30|                     2018-09-16|       75|
|    1|100012|           2018-11-01|                     2018-09-19|       43|
|    0|200003|           2018-11-30|                     2018-06-30|      153|
+-----+------+---------------------+-------------------------------+---------+
only showing top 20 rows

In [70]:
df_datediff.groupBy(['churn']).agg({'date_diff': 'mean'}).show()

+-----+-----------------+
|churn|   avg(date_diff)|
+-----+-----------------+
|    1|57.36538461538461|
|    0|86.56647398843931|
+-----+-----------------+

Useres who churn do it on average 57 days after registration

## 4. Feature Engineering

After the detailed dataset analysis, the next step is to create features that can be helpful in user churn prediction.

In [71]:
# The core is the DataFrame with userId and churn information. Features will be added to this core subsequently.
df_main = df.select(['userId', 'churn', 'gender']).dropDuplicates().sort('userId')

In [72]:
# male feature
df_main = df_main.withColumn("male", when(df_main.gender == 'M', 1).otherwise(0))
df_main = df_main.drop("gender")

In [73]:
# Feature representing number of distinct artists listened by a particular user
df_distinct_artists = df.groupBy("userId").agg(countDistinct("artist").alias('artists_count')).sort('userId')

df_main = df_main.join(df_distinct_artists,
            ['userId'], "left")

In [74]:
# Feature representing average number of items in user's session
df_itemInSession = df.groupBy(["userId", "sessionId"]).agg({'itemInSession': 'count'}).groupBy("userId").agg(avg('count(itemInSession)').alias('avg_session_items'))
df_main = df_main.join(df_itemInSession,
            ['userId'], "left")

In [75]:
# Feature representing the period of time each user uses Sparkify
df_main = df_main.join(df_datediff.select(['userId', 'date_diff']),
            ['userId'], "left")

In [76]:
# After the DataFrame is complete with all features, userId is not necessary and can be dropped
df_main = df_main.drop("userId")

In [77]:
df_main.printSchema()

root
 |-- churn: integer (nullable = false)
 |-- male: integer (nullable = false)
 |-- artists_count: long (nullable = true)
 |-- avg_session_items: double (nullable = true)
 |-- date_diff: integer (nullable = true)

In [78]:
df_main.show()

+-----+----+-------------+------------------+---------+
|churn|male|artists_count| avg_session_items|date_diff|
+-----+----+-------------+------------------+---------+
|    0|   0|          252| 54.42857142857143|       55|
|    0|   1|          339|              79.0|       70|
|    1|   1|            8|              11.0|       72|
|    0|   0|         2232| 166.3793103448276|      131|
|    1|   1|         1385|             246.4|       20|
|    0|   1|          142|28.714285714285715|       73|
|    0|   1|         1302|151.86666666666667|       57|
|    1|   0|         1744| 92.89189189189189|      110|
|    0|   0|          643|             167.0|       24|
|    1|   1|          233|51.666666666666664|       85|
|    0|   0|         1299|             144.0|       67|
|    0|   0|           78|39.333333333333336|       24|
|    1|   1|         1241|             214.9|       54|
|    0|   0|          534|              53.0|      125|
|    0|   1|         1332|             164.6|       66|
|    0|   0|         2070| 70.28571428571429|       74|
|    1|   1|          207|              63.8|       65|
|    1|   1|         1804|105.97058823529412|       60|
|    0|   0|          865|149.11111111111111|       71|
|    0|   1|          195|              29.2|       87|
+-----+----+-------------+------------------+---------+
only showing top 20 rows

## 5. Modeling
In this part the data will be split into test and train datasets. Two machine learning models will be run. The best model will be chosen based on accuracy and F1-score. 
The cross validation was not run due to long time and often disconnection of Udacity Workspace.

In [79]:
# Vectorizing the data into a new column "features" 
assembler = VectorAssembler(inputCols=['artists_count',
                                       'avg_session_items',
                                       'date_diff',
                                       'male'],
                                    outputCol='features')

In [80]:
# Splitting the data into train and test
train_data, test_data = df_main.randomSplit([0.7, 0.3], seed=1)

In [81]:
#Checking how balanced is the dataset
number_of_churned_users = df_main.filter(df_main['churn'] == 1).count()
number_of_not_churned_users = df_main.filter(df_main['churn'] == 0).count()

print(f'{number_of_churned_users} users churned')
print(f'{number_of_not_churned_users} users did not churn')
print(f'proportion of users who churned: {number_of_churned_users / (number_of_churned_users + number_of_not_churned_users)}')

52 users churned
173 users did not churn
proportion of users who churned: 0.2311111111111111

#### Logistic Regression

In [82]:
log_reg = LogisticRegression(featuresCol='features',
                             labelCol='churn')
  
# Creating the pipeline
pipe = Pipeline(stages=[assembler, log_reg])

In [83]:
# Fitting the model on training data
fit_model = pipe.fit(train_data)
  
# Storing the results on test data
results = fit_model.transform(test_data)
  
# Showing the results
results.take(2)

[Row(churn=0, male=1, artists_count=142, avg_session_items=28.714285714285715, date_diff=73, features=DenseVector([142.0, 28.7143, 73.0, 1.0]), rawPrediction=DenseVector([0.9098, -0.9098]), probability=DenseVector([0.713, 0.287]), prediction=0.0),
 Row(churn=1, male=1, artists_count=1385, avg_session_items=246.4, date_diff=20, features=DenseVector([1385.0, 246.4, 20.0, 1.0]), rawPrediction=DenseVector([0.1604, -0.1604]), probability=DenseVector([0.54, 0.46]), prediction=0.0)]

In [84]:
results.printSchema()

root
 |-- churn: integer (nullable = false)
 |-- male: integer (nullable = false)
 |-- artists_count: long (nullable = true)
 |-- avg_session_items: double (nullable = true)
 |-- date_diff: integer (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [85]:
# Conversion to pandas DataFrames for the purpose of optimization metrics calculation
y_predict = results.select('prediction').toPandas()
y_test = results.select('churn').toPandas()

In [86]:
cm = confusion_matrix(y_test, y_predict)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[44  3]
 [10  3]]

In [87]:
# Calculate accuracy, precision, recall, and F1 score
acc = accuracy_score(y_test, y_predict)
prec = precision_score(y_test, y_predict, average='weighted')
rec = recall_score(y_test, y_predict, average='weighted')
f1 = f1_score(y_test, y_predict, average='weighted')

print(f"Accuracy: {acc:.3f}")
print(f"Precision: {prec:.3f}")
print(f"Recall: {rec:.3f}")
print(f"F1 Score: {f1:.3f}")

Accuracy: 0.783
Precision: 0.747
Recall: 0.783
F1 Score: 0.751

#### Random Forest

In [88]:

rf = RandomForestClassifier(featuresCol='features',
                             labelCol='churn', 
                            numTrees=30, maxDepth=30)
pipeline = Pipeline(stages=[assembler, rf])

In [89]:
# Fitting the model on training data
fit_model = pipeline.fit(train_data)
  
# Storing the results on test data
results = fit_model.transform(test_data)
  
# Showing the results
results.take(2)

[Row(churn=0, male=1, artists_count=142, avg_session_items=28.714285714285715, date_diff=73, features=DenseVector([142.0, 28.7143, 73.0, 1.0]), rawPrediction=DenseVector([26.96, 3.04]), probability=DenseVector([0.8987, 0.1013]), prediction=0.0),
 Row(churn=1, male=1, artists_count=1385, avg_session_items=246.4, date_diff=20, features=DenseVector([1385.0, 246.4, 20.0, 1.0]), rawPrediction=DenseVector([9.0, 21.0]), probability=DenseVector([0.3, 0.7]), prediction=1.0)]

In [90]:
# Conversion to pandas DataFrames for the purpose of optimization metrics calculation
y_predict = results.select('prediction').toPandas()
y_test = results.select('churn').toPandas()

In [91]:
cm = confusion_matrix(y_test, y_predict)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[42  5]
 [ 8  5]]

In [92]:
# Calculate accuracy, precision, recall, and F1 score
acc = accuracy_score(y_test, y_predict)
prec = precision_score(y_test, y_predict, average='weighted')
rec = recall_score(y_test, y_predict, average='weighted')
f1 = f1_score(y_test, y_predict, average='weighted')

print(f"Accuracy: {acc:.3f}")
print(f"Precision: {prec:.3f}")
print(f"Recall: {rec:.3f}")
print(f"F1 Score: {f1:.3f}")

Accuracy: 0.783
Precision: 0.766
Recall: 0.783
F1 Score: 0.773

## 6. Summary
Two machine learning models were run. Random Forest provides better results according to F1-score. The F1-score was chosen as optimization metric because it presents the model’s balanced ability to both capture positive cases (recall) and be accurate with the cases it does capture (precision). F1-score of about 80% indicates that the model performance on unseen data is very good. <br>
The following improvements can be made to get a better model:
* develop new features. For example a good candidate is a `page` column representing 19 events. Occurence of some of those events might indicate user behaviour that helps predicting its' churn.
* try other machine learning models. For example Gradient-boosted trees, SVMs.
* check for optimal hyperparameters for the currently checked and new models.